<section class="hero">
  <div class="hero-content">
    <h1>DODO Pizza</h1>
    <p>Обычно люди приходят в Додо Пиццу, чтобы просто поесть. Наши промоутеры раздают листовки про кусочек пиццы за 100 тенге или ещё что-то выгодное. Мы делаем это как первый шаг, чтобы познакомиться.
      <br>
      Но для нас Додо — не только пицца. Это и пицца тоже, но в первую очередь это большое дело, которое вдохновляет нас, заставляет каждое утро просыпаться и с интересом продолжать работу.
      </p>
    <button class="cta-button">See Menu</button>
  </div>
  <div class="hero-image">
    <img src="dodo.jpg" alt="dodo">
  </div>
</section>